<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div *ngIf="step === 1">
  <app-perfume-for (nextStep)="onNextStep()"></app-perfume-for>
</div>
<div *ngIf="step === 2">
  <app-gender (genderSelected)="onGenderSelected($event)"></app-gender>
</div>
<div *ngIf="step === 3">
  <app-season (seasonsSelected)="onSeasonsSelected($event)"></app-season>
</div>
<div *ngIf="step === 4">
  <app-families (accordsSelected)="onAccordsSelected($event)"></app-families>
</div> -->
