.fresh {
  padding: 94px 0;
}
.title {
  text-align: center;
}
#title-id {
  padding: 3% 0 4%;
}
h1 {
  font-size: 2rem;
  font-weight: lighter;
}
h1,
p {
  text-transform: uppercase;
}
span {
  font-weight: 600;
}
.subtitle {
  padding-top: 10px;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 24px;
}
#first-container {
  margin: 2% 10%;
}
.cards-container {
  margin: 3% 10% 0%;
  justify-content: center;
}
.our-card {
  height: 200px;
  width: 25%;
}
.card {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  border-radius: 0%;
  cursor: pointer;
}
.card.selected {
  border: 2px solid rgb(60, 60, 60);
}
.card:hover {
  border: 2px solid rgb(60, 60, 60);
}
.card p {
  font-size: 14px;
}
img {
  width: 80%;
  height: 84%;
  padding-top: 17px;
  object-fit: cover;
}
.card-container {
  padding-top: 8px;
  text-transform: uppercase;
}
.btn {
  display: flex;
  justify-content: center;
  border: none;
  cursor: unset;
}

.mybtn {
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 41px;
  width: 114px;
  padding: 10px 15px;
  color: #faf9f8;
  font-size: 12px;
  font-weight: 500;
  border: none;
  background-color: rgb(2, 2, 2);
  margin: 23px;
}
.mybtn:hover {
  background-color: #141311;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  #first-container {
    margin: 0% 1% 0;
  }
  .our-card {
    height: 140px;
    padding-top: 5%;
    width: 40%;
  }
  img {
    height: 70%;
  }
  .card-container p {
    font-size: 12px;
  }
  .card-container {
    padding-top: 10px;
  }
  .cards-container {
    margin: 0% 1% 2%;
  }
}
