<div class="season">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30" id="product">
          <span>5/5</span>
          <h1 class="subtitle">with a touch of</h1>
        </div>
      </div>
    </div>

    <div class="cards-container row" id="first-container">
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('fresh herbs')"
          [class.selected]="selectedAccords.includes('fresh herbs')"
          class="card"
          id="fresh-herbs"
        >
          <img src="assets/imgs/fresh/fresh herbs.jpg" />
          <div class="card-container">
            <p>fresh herbs</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('fresh spicy')"
          [class.selected]="selectedAccords.includes('fresh spicy')"
          class="card"
          id="fresh-spicy"
        >
          <img src="assets/imgs/fresh/fresh spicy.jpg" />
          <div class="card-container">
            <p>fresh spicy</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('lavander')"
          [class.selected]="selectedAccords.includes('lavander')"
          class="card"
          id="lavander"
        >
          <img src="assets/imgs/fresh/lavander.jpg" />
          <div class="card-container">
            <p>lavander</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('citrus')"
          [class.selected]="selectedAccords.includes('citrus')"
          class="card"
          id="citrus"
        >
          <img src="assets/imgs/fresh/citrus.jpg" />
          <div class="card-container">
            <p>citrus</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container row">
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('green')"
          [class.selected]="selectedAccords.includes('green')"
          class="card"
          id="green"
        >
          <img src="assets/imgs/fresh/green.jpg" />
          <div class="card-container">
            <p>green</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('aquatic')"
          [class.selected]="selectedAccords.includes('aquatic')"
          class="card"
          id="aquatic"
        >
          <img src="assets/imgs/fresh/aquatic.jpg" />
          <div class="card-container">
            <p>aquatic</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('aromatic')"
          [class.selected]="selectedAccords.includes('aromatic')"
          class="card"
          id="aromatic"
        >
          <img src="assets/imgs/fresh/aromatic.jpg" />
          <div class="card-container">
            <p>aromatic</p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <button (click)="onSubmitAccords()" class="mybtn">next</button>
    </div>
  </div>
</div>
