<div class="container-fluid">
  <div class="header row">
    <div class="header-content col-md-7">
      <div class="container">
        <h1>Make your own fragrance</h1>
        <p class="content">
          Discover the art of fragrance creation and a unique experience with
          personalized guidance from our specialists
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="iperfume-img">
        <img src="assets/imgs/iKawkaba3.png" alt="iPerfume" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="notes row">
    <div class="page-content" style="width: 58%">
      <div class="subtitle col-md-12">
        <h1>What is iPerfume Machine ?</h1>
        <p>
          iPerfume is an innovative fragrance designing machine integrated with
          our web application. It allows users to design his scent with his
          choices and experience scents directly by scanning a QR code,
          providing a seamless and interactive way to discover new perfumes.
        </p>
      </div>
      <div class="subtitle col-md-12">
        <h1>How it works ?</h1>
        <p>
          Approach the iPerfume machine and scan the provided QR code using the
          scanner on the machine.
        </p>
      </div>
      <div class="subtitle col-md-12" style="margin-bottom: 60px">
        <h1>Demo Experience !</h1>
        <p class="description">
          Kickstart your fragrance adventure with iPerfume and discover the
          magic of personalized scents through our interactive demo experience.
        </p>
        <div class="sample1 col-md-12">
          <h1 class="sample">Scandal by Jean Paul Gaultier:</h1>
          <p>
            To Experience: Choose in the quiz "women"in Gender, "winter & autmn"
            in Season, "floral" in Families and "sweet & white floral" in
            Accords. Scan QR on the iPerfume machine to smell Scandal.
          </p>
          <div class="row">
            <div class="mybtns col-md-6">
              <div class="btn">
                <div class="gallery-item-inner">
                  <a
                    href="assets/imgs/pumb 2.jpeg"
                    title=""
                    class="img-grayscale img-zoom"
                    style="text-decoration: none"
                  >
                    <div class="btn">
                      <button class="mybtn" type="submit">
                        generate QR code
                      </button>
                    </div>
                  </a>
                </div>
                <div class="btn-container col-md-6">
                  <div class="btn">
                    <button
                      class="mybtn"
                      id="check"
                      type="submit"
                      routerLink="../perfume-for"
                    >
                      quiz experience
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sample2 col-md-12">
          <h1 class="sample">Invictus :</h1>
          <p>
            To Experience: Choose in the quiz "men"in Gender, "summer" in
            Season, "fresh" in Families and "aromatic & aquatic & citrus" in
            Accords. Scan QR on the iPerfume machine to smell Scandal.
          </p>
          <div class="row">
            <div class="mybtns col-md-6">
              <div class="btn">
                <div class="gallery-item-inner">
                  <a
                    href="assets/imgs/pumb 3.jpeg"
                    title=""
                    class="img-grayscale img-zoom"
                    style="text-decoration: none"
                  >
                    <div class="btn">
                      <button class="mybtn" type="submit">
                        generate QR code
                      </button>
                    </div>
                  </a>
                </div>
                <div class="btn-container col-md-6">
                  <div class="btn">
                    <button
                      class="mybtn"
                      id="check"
                      type="submit"
                      routerLink="../perfume-for"
                    >
                      quiz experience
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sample3 col-md-12">
          <h1 class="sample">LA NUIT TRÉSOR :</h1>
          <p>
            To Experience: Choose in the quiz "women"in Gender, "winter & autmn"
            in Season, "floral" in Families and "sweet & fruity & powedery" in
            Accords. Scan QR on the iPerfume machine to smell Scandal.
          </p>
          <div class="row">
            <div class="mybtns col-md-6">
              <div class="btn">
                <div class="gallery-item-inner">
                  <a
                    href="assets/imgs/pumb 1.jpeg"
                    title=""
                    class="img-grayscale img-zoom"
                    style="text-decoration: none"
                  >
                    <div class="btn">
                      <button class="mybtn" type="submit">
                        generate QR code
                      </button>
                    </div>
                  </a>
                </div>
                <div class="btn-container col-md-6">
                  <div class="btn">
                    <button
                      class="mybtn"
                      id="check"
                      type="submit"
                      routerLink="../perfume-for"
                    >
                      quiz experience
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
