<div class="scent-finder">
  <div class="container-fluid">
    <div class="header row">
      <div class="header-content col-md-7">
        <div class="container">
          <h1>Find My Scent</h1>
          <p class="content">
            choosing the right fragrance can be a daunting task. iPerfume tools
            simplifies the process, making it enjoyable and tailored just for
            you.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="iperfume-img">
          <img src="assets/imgs/iKawkaba3.png" alt="iPerfume" />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid desc">
    <div class="container">
      <div class="description row">
        <div class="description-content col-md-12">
          <h1>Fragrance with your personality</h1>
          <p>
            <span>Floral fragrances: </span>
            Are perfect for anyone who loves the smell of fresh flowers. <br />
            Imagine the soft, sweet aroma of roses or the vibrant scent of
            blooming lavander, with capturing the essence of a garden in full
            bloom
          </p>
          <p>
            <span>Woody fragrances </span> bring the outdoors to you. <br />
            If you enjoy the smell of a forest hike or a night by the campfire,
            woody fragrances might be your go-to.
          </p>
          <p>
            <span>Oriental fragrances </span> create a feeling of warmth and
            luxury. <br />
            These scents are for those who enjoy the aroma of a spiced latte or
            a warm vanilla cookie
          </p>
          <p>
            <span>Fresh fragrances </span> are like a breath of fresh air.
            <br />
            These scents are light and energizing, featuring notes like lemon,
            bergamot, and fresh-cut grass.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="personal-guide row">
      <div class="col-md-7">
        <div class="guide-content">
          <h1>your personal guide</h1>
          <p>
            We believe that fragrance is deeply personal. Our guide is here to
            help you find the perfect perfume that matches your personality,
            preferences, and lifestyle.
          </p>
          <p>
            Simply click below to begin answering our personalized questionnaire
            and let the magic of scent unfold
          </p>
          <button class="mybtn" routerLink="/personal-guide/perfume-for">
            discover now
          </button>
        </div>
      </div>
      <div class="guide-img col-md-5">
        <img src="assets/imgs/guide.jpg" alt="personal guide" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section
        class="parallax img-fluid"
        style="
          background-image: url('assets/imgs/Amouage_Attars_KV_2023_Banner_2439x1190px_Family_2.png');
        "
      >
        <div class="overlay"></div>
        <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-5">
            <div class="content container">
              <h3>scan & smell</h3>
              <h1>
                try befor buy! <br />
                discover new experience with iperfume machine
              </h1>
              <div class="btn">
                <button class="mybtn" routerLink="/personal-guide/scan-smell">
                  discover now
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="recommend row">
      <div class="col-md-7">
        <div class="guide-content">
          <h1>recommendation assistant</h1>
          <p>
            Ready to discover new scents similar to your favorite perfume? Try
            our Recommendation Assistant now. Enter the name of your beloved
            fragrance and let our AI provide you with a curated list of similar
            scents. Explore, choose, and enjoy new fragrances that resonate with
            your unique taste.
          </p>
          <p>It’s time to expand your fragrance collection</p>
          <button class="mybtn" routerLink="/personal-guide/fav-perfume">
            discover now
          </button>
        </div>
      </div>
      <div class="guide-img col-md-5">
        <img src="assets/imgs/recomend.jpg" alt="recommendation guide" />
      </div>
    </div>
  </div>

  <!-- <div class="guide-selection row">
    <div class="col-md-6" style="padding: 0">
      <div
        class="fragrance-guide"
        style="
          background-image: url(assets/imgs/modelll.jpg);
          background-size: cover;
          height: 800px;
        "
      >
        <div class="overlay">
          <div class="subtitle">
            <p>
              You need to change your perfume? or need to know which perfume
              suits you!
            </p>
            <p>start with your</p>
          </div>
          <div class="title">
            <h1>Personal Fragrance Guide</h1>
          </div>
          <button class="mybtn" routerLink="/personal-guide/perfume-for">
            Start
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding: 0">
      <div
        class="fav-guide"
        style="
          background-image: url(assets/imgs/modell.jpg);
          background-size: cover;
          height: 800px;
        "
      >
        <div class="overlay">
          <p>
            You have a favorite perfume and want to try a perfume similar to
            yours
          </p>
          <p>Try with our</p>
          <h1>Recommendation Assistant</h1>
          <button class="mybtn" routerLink="/personal-guide/fav-perfume">
            Start
          </button>
        </div>
      </div>
    </div>
  </div> -->
</div>
