.header {
  display: flex;
  margin-top: 65px;
  background-color: black;
  color: aliceblue;
}
.header-content h1 {
  padding: 21% 0 7%;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-left: 85px;
  margin-left: 84px;
  color: #bd973b;
  text-transform: uppercase;
}
.header-content p {
  margin-left: 85px;
  font-size: 1.6rem;
}
.iperfume-img {
  display: flex;
  justify-content: flex-end;
}
img {
  max-width: 90%;
}
.container-fluid.desc {
  background-color: #b9b9b93b;
  margin: 110px 0;
}
.description h1 {
  margin-bottom: 53px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
.description-content {
  margin: 85px 0;
}
span {
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
/* .overlay {
  min-height: 100%;
  background-color: #020202c4;
} */
.mybtn {
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 55px;
  width: 252px;
  padding: 10px 15px;
  color: #f3bc15;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #f3bc15;
  background-color: inherit;
  margin-top: 25px;
}
.mybtn:hover {
  background-color: #eeac34;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}
.personal-guide {
  margin: 100px 0 0;
}
.guide-content {
  padding: 0 45px 0 0;
}
.guide-content h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.guide-content p {
  font-size: 20px;
}
.guide-img {
  display: flex;
  justify-content: flex-end;
}
.guide-img img {
  max-width: 85%;
}
.guide-content .mybtn {
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 47px;
  width: 193px;
  padding: 10px 15px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  background-color: inherit;
  margin-top: 25px;
}
.guide-content .mybtn:hover {
  background-color: black;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 175px 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.parallax .content.container {
  display: grid;
}
.parallax .container h3 {
  font-size: 15px;
  font-family: monospace;
  letter-spacing: 6px;
  font-family: serif;
  color: #f3bc15;
  z-index: 5;
  text-transform: uppercase;
}
.parallax .container h1 {
  font-size: 26;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  z-index: 5;
}

.parallax .container .btn {
  z-index: 5;
  display: flex;
  padding: 0;
}
.recommend {
  margin-bottom: 130px;
}
