/* General Styles */

img {
  width: 100%;
  height: auto;
  display: block;
}

.iperfume-img {
  padding: 0;
}
/* Header Image */
.iperfume-img img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Description Section */
.container-fluid.desc {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.description-content {
  padding: 0 20px;
}

.description h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: left;
}

.description p {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 15px;
  color: #292929;
}

span {
  font-weight: bold;
  color: #bd973b;
}

/* Button Styling */

.mybtn {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 47px;
  width: 193px;
  padding: 10px 15px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  background-color: inherit;
  margin-top: 25px;
}

.mybtn:hover {
  background-color: black;
  color: white;
  border: none;
}

/* Personal Guide & Recommendation Sections */
.personal-guide,
.recommend {
  margin: 80px 0;
}

.guide-content {
  padding: 30px 20px 10px;
  text-align: left;
}

.guide-content h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.guide-content p {
  font-size: 1.1rem;
}

.guide-img {
  display: flex;
  justify-content: flex-end;
}

.guide-img img {
  max-width: 90%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .guide-img {
    justify-content: center;
    margin-top: 20px;
  }

  .guide-content {
    text-align: start;
  }

  .guide-content h1 {
    font-size: 1.6rem;
  }

  .description h1,
  .description p {
    text-align: left;
  }
}
