<div class="season">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30" id="product">
          <span>5/5</span>
          <h1 class="subtitle">with a touch of</h1>
        </div>
      </div>
    </div>

    <div class="cards-container row" id="first-container">
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('warm spicy')"
          [class.selected]="selectedAccords.includes('warm spicy')"
          class="card"
          id="warm-spicy"
        >
          <img src="assets/imgs/Oriental/warm spicy.jpg" />
          <div class="card-container">
            <p>warm spicy</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('oud')"
          [class.selected]="selectedAccords.includes('oud')"
          class="card"
          id="oud"
        >
          <img src="assets/imgs/Oriental/oud.jpg" />
          <div class="card-container">
            <p>oud</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('cinnamon')"
          [class.selected]="selectedAccords.includes('cinnamon')"
          class="card"
          id="cinnamon"
        >
          <img src="assets/imgs/Oriental/cinnamon1.jpg" />
          <div class="card-container">
            <p>cinnamon</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('vanilla')"
          [class.selected]="selectedAccords.includes('vanilla')"
          class="card"
          id="vanilla"
        >
          <img src="assets/imgs/Oriental/vanilla.jpg" />
          <div class="card-container">
            <p>vanilla</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container row">
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('musk')"
          [class.selected]="selectedAccords.includes('musk')"
          class="card"
          id="musk"
        >
          <img src="assets/imgs/Oriental/musk.jpg" />
          <div class="card-container">
            <p>musk</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('animalic')"
          [class.selected]="selectedAccords.includes('animalic')"
          class="card"
          id="animalic"
        >
          <img src="assets/imgs/Oriental/animalic.jpg" />
          <div class="card-container">
            <p>animalic</p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-3">
        <div
          (click)="onToggleAccord('earthy')"
          [class.selected]="selectedAccords.includes('earthy')"
          class="card"
          id="earthy"
        >
          <img src="assets/imgs/Oriental/earthy.jpg" />
          <div class="card-container">
            <p>earthy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <button (click)="onSubmitAccords()" class="mybtn">next</button>
    </div>
  </div>
</div>
