<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      style="background-image: url('assets/imgs/bg-kawkaba.jpeg')"
    >
      <div class="overlay"></div>
      <div class="header-content">
        <h1>Our Collection</h1>
        <h3>
          <a routerLink="/home" style="color: inherit; text-decoration: none"
            >Home</a
          >
          - <span> Collection </span>
        </h3>
      </div>
    </section>
  </div>
</div>

<div class="our-collection" id="discover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30" id="product">
          <span>discover our</span>
          <h1>collection</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="our-card col-md-4">
        <div class="card" id="men" routerLink="../men">
          <img
            src="assets/imgs/WhatsApp Image 2024-01-16 at 19.23.48.jpeg"
          />
          <div class="card-container">
            <h2>Men's Fragrances</h2>
          </div>
        </div>
      </div>
      <div class="our-card col-md-4">
        <div class="card" id="unisex" routerLink="../unisex">
          <img
            src="assets/imgs/WhatsApp Image 2024-01-16 at 19.23.47.jpeg"
          />
          <div class="card-container">
            <h2>Unisex Fragrances</h2>
          </div>
        </div>
      </div>
      <div class="our-card col-md-4">
        <div class="card" id="women" routerLink="../women">
          <img
            src="assets/imgs/WhatsApp Image 2024-01-16 at 19.23.47 (1).jpeg"
          />
          <div class="card-container">
            <h2>Women's Fragrances</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
