<div class="header">
  <div class="img-fluid">
    <img src="assets/imgs/k and k.jpg" style="width: 100%" />
  </div>
</div>

<div class="our-collection" id="discover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30" id="product">
          <span>discover our</span>
          <h1>collection</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="our-card col-md-4">
        <div class="card" id="women" routerLink="../women">
          <img
            src="assets/imgs/WhatsApp Image 2024-01-16 at 19.23.48.jpeg"
            style="width: 100%; height: 72%"
          />
          <div class="card-container">
            <h2>Women's Fragrances</h2>
            <p>
              You'll melt in its sweetness which grabs the eyes for its
              kindness.
            </p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-4">
        <div class="card" id="unisex" routerLink="../unisex">
          <img
            src="assets/imgs/WhatsApp Image 2024-01-16 at 19.23.47.jpeg"
            style="width: 100%; height: 74%"
          />
          <div class="card-container">
            <h2>Unisex Fragrances</h2>
            <p>
              Rare perfumes that unite a man and a woman to share the
              brilliance.
            </p>
          </div>
        </div>
      </div>
      <div class="our-card col-md-4">
        <div class="card" id="men" routerLink="../men">
          <img
            src="assets/imgs/WhatsApp Image 2024-01-16 at 19.23.47 (1).jpeg"
            style="width: 100%; height: 74%"
          />
          <div class="card-container">
            <h2>Men's Fragrances</h2>
            <p>
              You'll be amazed more every time, steal the breath and guide your
              lost people.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
