.home-page {
  overflow-x: hidden;
}
.header {
  height: 740px;
}
.header .container {
  padding-left: 88px;
}
.header .row .col-md-7 {
  display: grid;
  align-items: center;
  justify-content: center;
}
.header .content {
  margin-top: 100px;
}
.header .content button {
  width: 197px;
  height: 49px;
  background-color: inherit;
  color: #141a1d;
  font-size: 14px;
  border: solid 1px #141a1d;
}
.header .content button:hover {
  background-color: black;
  color: #fff;
}

.sub-title p {
  margin-top: 30px;
  font-size: 1.3rem;
  color: #817d7d;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.header-img img {
  width: 139%;
  transform: translate(-1%, 40px);
}

/* about */
.ab-kawkaba {
  margin-bottom: 30px;
  padding: 30px;
}

.about-kawkaba {
  display: block;
  margin-top: 65px;
  background-color: #cecece82;
}

.about-kawkaba .title span {
  letter-spacing: 3px;
}

.about-kawkaba-content {
  width: 90%;
  height: 93%;
}

@media (max-width: 480px) {
  .about-kawkaba .about-kawkaba-content h2 {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .about-kawkaba .about-kawkaba-content h3,
  h5 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .about-kawkaba .about-kawkaba-content {
    width: 100%;
  }
}

.about-kawkaba-content h2 {
  font-size: 30px;
  font-family: "emoji";
}

.about-kawkaba-content h3 {
  font-size: 20px;
  line-height: 1.5;
}

.about-kawkaba-content h3 span {
  font-style: italic;
  font-family: monospace;
  letter-spacing: 1.2;
  font-family: serif;
  color: #ddcd7eef;
}

.about-kawkaba-content h5 {
  line-height: 1.5;
  letter-spacing: 1.2;
}

.about-kawkaba-content h5 span {
  font-weight: bold;
  font-size: 23px;
}

.about-kawkaba-img {
  width: 100%;
  height: 93%;
}

.about-kawkaba img {
  width: 100%;
  height: 100%;
  right: 0px;
}

.about-kawkaba img:hover {
  transform: scale(0.94);
  transition: all 0.5s;
}

.about-kawkaba-content .h5 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75em;
}

.about-kawkaba-content .mybtn {
  height: 51px;
  width: 210px;
  color: black;
  border: 1px solid black;
  font-size: 17px;
  margin-top: 18px;
}
.about-kawkaba-content .mybtn:hover {
  color: white;
  background-color: black;
  border: none;
  transition: all 0.3s ease-in-out;
}
/* Collection

.our-collection {
    width: 100%;
    display: block;
    margin-bottom: 0px;
}

.our-collection .card {
    box-shadow: 0 4px 8px 0 rgba(107, 102, 102, 0.2);
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.our-collection .our-card {
    margin-bottom: 30px;
}

.our-collection .card:hover {
    box-shadow: 0 8px 16px 0 gold;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.our-collection .card-container {
    padding: 7px 16px;
    text-align: center;
}
.title {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 90px;
}

.title span {
    font-family: monospace;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 100;
} */

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 175px 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.parallax .content.container {
  display: grid;
}
.parallax .container h3 {
  font-size: 15px;
  font-family: monospace;
  letter-spacing: 6px;
  font-family: serif;
  color: #f3bc15;
  z-index: 5;
  text-transform: uppercase;
}
.parallax .container h1 {
  font-size: 26;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  z-index: 5;
}

.parallax .container .btn {
  z-index: 5;
  display: flex;
  padding: 0;
}
.mybtn {
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 55px;
  width: 252px;
  padding: 10px 15px;
  color: #f3bc15;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #f3bc15;
  background-color: inherit;
  margin-top: 25px;
}
.mybtn:hover {
  background-color: #eeac34;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btn {
  border: none;
}
.new-arrival .title span {
  font-family: monospace;
  letter-spacing: 7px;
  font-weight: 200;
  color: #d1b13b;
  font-size: 18px;
}
.new-arrival .title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
