<div class="home-page">
  <div class="header">
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <div class="container">
            <div class="title">
              <h1>
                <span style="color: #d7a436f5">Find</span> Your Favorite
                Fragrance with our AI assistant!
              </h1>
            </div>
            <div class="sub-title">
              <p>
                Discover the artistry of Kawkaba fragrances, crafted with
                passion and precision to awaken your spirit and leave a lasting
                impression.
              </p>
            </div>
            <button class="mybtn" routerLink="/personal-guide/perfume-for">
              discover
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="header-img">
          <img src="assets/imgs/Model.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section
        class="parallax img-fluid"
        style="
          background-image: url('assets/imgs/Amouage_Attars_KV_2023_Banner_2439x1190px_Family_2.png');
        "
      >
        <div class="overlay"></div>
        <div class="row">
          <div class="col-md-7"></div>
          <div class="col-lg-5">
            <div class="content container">
              <h3>kawkaba collection</h3>
              <h1>discover our collection and smell what meet your taste</h1>
              <div class="btn">
                <button class="mybtn" routerLink="/collection">
                  discover now
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <app-new-arrival></app-new-arrival>
  <app-best-seller></app-best-seller>
</div>
