<div class="home-page">
  <div class="header">
    <div class="row">
      <div class="col-md-7">
        <div class="content">
          <div class="container">
            <div class="title">
              <h1>
                <span style="color: #d7a436f5">Find</span> Your Favorite
                Fragrance
              </h1>
              <h1>Let our recommendation assistant Guide You!!</h1>
            </div>
            <div class="sub-title">
              <p>
                Discover the artistry of Kawkaba fragrances, crafted with
                passion and precision to awaken your spirit and leave a lasting
                impression.
              </p>
            </div>
            <button class="mybtn" routerLink="/personal-guide/fav-perfume">
              discover
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="header-img">
          <img src="assets/imgs/Model.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section
        class="parallax img-fluid"
        style="
          background-image: url('assets/imgs/Amouage_Attars_KV_2023_Banner_2439x1190px_Family_2.png');
        "
      >
        <div class="overlay"></div>
        <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-5">
            <div class="content container">
              <h3>scan & smell</h3>
              <h1>
                try befor buy! <br />
                discover new experience with iperfume machine
              </h1>
              <div class="btn">
                <button class="mybtn" routerLink="/personal-guide/scan-smell">
                  discover now
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <app-new-arrival></app-new-arrival>
  <app-best-seller></app-best-seller>
  <!--About  -->

  <!-- <div class="container">
  <div class="about-kawkaba" id="about">
    <div class="ab-kawkaba row">
      <div class="col-md-6">
        <div class="about-kawkaba-content col-md mb-30">
          <h1>Why Kawkaba?</h1>
          <br />
          <h3>
            Kawkabais a High Perfumery House renowned for creating some of the
            most finely crafted perfumes in Egypt.
          </h3>
          <h5>
            Luxury installation perfumes that draw attention and leave a mark,
            carefully thoughtful and quality up to 90% from original.
          </h5>
          <br />
          <h3>
            Our story is never complete, there is always something new and
            wonderful to discover.
          </h3>
          <h5>
            Luxury installation perfumes that draw attention and leave a mark,
            carefully thoughtful and quality up to 90% from original.
          </h5>
          <br />

          <button class="mybtn" routerLink="/about">Learn more</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-kawkaba-img">
          <div class="about-kawkaba-imgBorder"></div>
          <img src="assets/imgs/modell.jpg" />
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
