<div class="elementor-section-wrap" id="our-gallary">
  <section
    class="elementor-section"
    data-id="d2e4d92"
    data-element_type="section"
  >
    <div class="container">
      <div class="elementor-widget-container" id="products">
        <div class="row">
          <div class="col-md-12">
            <div class="title mb-30">
              <p>{{ title }}</p>
              <h1>Fragrances for Her</h1>
            </div>
          </div>
        </div>

        <div
          *ngIf="isLoading"
          class="d-flex justify-content-center"
          style="padding: 100px"
        >
          <div
            class="spinner-border"
            role="status"
            style="color: rgb(29, 29, 29); margin: 50px"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div
          *ngIf="!isLoading && products.length > 0"
          class="product-container row mt-4"
        >
          <div class="col-6 col-md-3" *ngFor="let product of products">
            <div
              class="product-card"
              [ngClass]="{ zoomed: product.hovered }"
              (mouseenter)="product.hovered = true"
              (mouseleave)="product.hovered = false"
            >
              <a [routerLink]="['/products', product._id]">
                <img src="{{ product.image }}" alt="{{ product.name }}" />
                <p>{{ product.company }}</p>
                <h1>{{ product.name }}</h1>
                <p>{{ product.for_gender }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
